<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lesson 1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
        <form class="">
            <label>Name:</label>
            <!-- updates the name property as user types the name... -->
            <input type="text" v-model="name"><br>
            {{name}}<br><br>
            <!-- updates the age property as user types the name... -->
            <label>Age:</label>
            <input type="text" v-model="age"><br>
            {{age}}
        </form>
    </div>
    <script src="app.js"></script>
  </body>
</html>
